<div class="container">
  <h1>Login</h1>
  <div class="row">
    <div class="col-md-6">
      <form (ngSubmit)="doLogin()" #loginForm="ngForm">
        <div class="form-group" [class.has-error]="email.invalid && email.touched" [class.has-success]="email.valid">
          <label for="name">Email Address</label>
          <input type="email" class="form-control" [(ngModel)]="user.email" #email="ngModel" name="email" required>
          <span class="help-block" *ngIf="email.errors?.required && email.touched">
            Email is required
          </span>
          <!-- <span class="help-block" *ngIf="email.errors?.required && email.touched">
                  Email is required
                </span> -->
          <!-- <span class="help-block" *ngIf="email.errors?.email && email.touched">
                  Email is invalid
                </span> -->
        </div>
        <div class="form-group" [class.has-error]="password.invalid && password.touched" [class.has-success]="password.valid">
          <label for="name">Password</label>
          <input type="password" class="form-control" [(ngModel)]="user.password" #password="ngModel" name="password" required>
          <span class="help-block" *ngIf="password.errors?.required && password.touched">
            Password is required
          </span>
        </div>
        <div id="flash">
          <div *ngIf="errDbMsg">
            <i class="fa fa-close" style="color:red"></i> &nbsp; {{errDbMsg}}
          </div>
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-success" [disabled]="!loginForm.form.valid">Login</button>
        </div>
      </form>
    </div>
  </div>
</div>